p{
        font-family: Roboto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .video-title {
        font-size: 18px;
        font-weight: bold;
        width: 300px;
        line-height: 23px;
        margin-bottom: 2;
    }

    .video-stats{
        font-size: 14px;
        color:rgb(96, 96, 96);
        margin-bottom: 16px;
    }

    .video-author{
        font-size: 14px;
        color:rgb(96, 96, 96);
        margin-bottom: 16px;
    }

    .video-description{
        font-size: 14px;
        color:rgb(96, 96, 96);
        margin-bottom: 16px;
        width: 280px;
        margin-bottom: 200px;
        
    }
    
.apple-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: #e34140;
    color:white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.shopnow:hover {
    text-decoration: underline;
    cursor: pointer;
}